* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h1{
  padding-left: 10px;
  font-size: 24px;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 5px;
  background-color: #fafafa;
  transform: translate(10px) scale(0.75);
  transition: background-color 500ms linear,
  transform 300ms linear;
  
}

#search-box:hover{
  transform: translate(10px) scale(1);
}

li{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

ul{
  padding-left: 15px;
  margin-top: 0px;
}

#search-box{
  width: 300px;
}
.country-info{
padding-left: 15px;
}

.title{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.titleForOneCountry{
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 5px;
  margin-bottom: 3px;
}

.classForNameAllCountries{
  font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
      margin-top: 5px;
        margin-bottom: 5px;
}